*
{
    box-sizing: border-box;

    animation-fill-mode: both;
}

html,
body
{
    margin: 0;
    padding: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;

    color: #fff;
    background: #854069;

    animation: fadeIn 2s ease 0.5s;
    animation-fill-mode: both;

    @include respond-to('small')
    {
        font-size: 12px;
    }
    @include respond-from(FHD)
    {
        font-size: 24px;
    };
    @include respond-from(QHD)
    {
        font-size: 32px;
    };
    @include respond-from(UHD)
    {
        font-size: 48px;
    };
}

section
{
    padding: 3.75rem 1rem;
}


h1,
.h1
{
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1.1;

    margin: 1rem auto;

    @include respond-to('small')
    {
        font-size: 3rem;
    }
}

h2,
.h2
{
    margin: 1rem auto;

    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.1;

    @include respond-to('small')
    {
        font-size: 3rem;
    }
}

h4,
.h4
{
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.28;
      letter-spacing: 0.01875rem;

      @include respond-to('small')
      {
          font-size: 1.5rem;
      }
}

a
{
    color: inherit;

    opacity: 0.5;
    transition: opacity 0.5s;
    &:hover
    {
        opacity: 1;
    }
}

img,
.icon
{
    display: inline-block;

    max-width: 100%;

    vertical-align: middle;
}
