@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Regular/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue-Regular/HelveticaNeue.eot?iefix') format('eot'),
    url('../fonts/HelveticaNeue-Regular/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue-Regular/HelveticaNeue.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Regular/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}
